        body {
            background-color: white;
            color: #292929;
        }

        .menu {
            background-color: #bbf0ff;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            
        }

        .menu a {
            color: #238392;
            text-decoration: none;
        }

        .menu a:hover {
            color: white;
            background-color: #b0f5fe;
        }

        h1 {
            color: #068b7a;
            text-align: center;
            background-color: #c9ffdf;
        }

        h2 {
            color: #15679e;
        }

        .section {
            background-color: white;
        }

        .service-item {
            color: black;
        }

        .service-item:hover {
            background-color: #dbf8f5;
            color: #4ca1bd;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        th {
            background-color: #bbf0ff;
            color: #4082ce;
        }

        td {
            background-color: white;
        }
        
        th,
        td {
            border: 1px solid black;
            padding: 15px;
        }

        tr:hover td {
            background-color: #c4f7ff;
        }

        .section {
            background-color: white;
        }

        .section form {
            background-color: #ededed;
            text-align: center;
        }

        .section form label {
            display: block;
            font-size: 18px;
            font-weight: bold;
        }

        .section form input,
        .section form select,
        .section form textarea {
            display: inline-block;
        }

        .section form input:focus,
        .section form select:focus,
        .section form textarea:focus {
            background-color: white;
        }

        .section form input[type="submit"] {
            background-color: aqua;
            color: white;
            font-weight: bold;
        }

        .section form input[type="submit"]:hover {
            background-color: green;
        }

        .footer {
            background-color: #15b99d;
            text-align: center;
            color: white;
        }